p{
    margin: 10px 0 !important;
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.login-container{
    width: 400px;
    margin-top: 50px;
    text-align: center;
}

.fa-small{
    font-size: 15px !important
}

.btn-float{
    float: left;
    margin-right: 10px;
}

.img-small{
    width: 180px;
}